<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="run_log"
		xsi:type="File"
		layout="${date:format=HH\:mm\:ss} - ${message}"
		fileName="${basedir}../../../logs/${shortdate}.log"/>

		<!-- Вывод логов в консоль-->
		<!-- <target name="console" 
				xsi:type="Console"
				layout="${date:format=HH\:mm\:ss} - ${message}"/>
			-->
	</targets>


	<rules>
		<logger name="*" minlevel="Debug" writeTo="run_log" />
		<logger name="*" minlevel="Debug" writeTo="console" />
	</rules>
	<rules>
	
	</rules>
</nlog>